Presentation/IOER.web/Service References/ResourceServiceReferenceOLD/ResourceService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://209.7.195.215:90/Services/ResourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" />
  <xs:element name="ResourceGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:ResourceGetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceGetResult" nillable="true" type="q2:ResourceGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:ResourceSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceSearchResult" nillable="true" type="q4:ResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>