Presentation/IOER.web/Service References/NewsServiceReference/NewsServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.illinoisworknet.com/Services/News/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.illinoisworknet.com/Services/News/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.illinoisworknet.com/Services/News/">
      <s:element name="NewsTemplateGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNewsTemplateCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewsTemplateGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NewsTemplateGetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NewsTemplateGetSoapIn">
    <wsdl:part name="parameters" element="tns:NewsTemplateGet" />
  </wsdl:message>
  <wsdl:message name="NewsTemplateGetSoapOut">
    <wsdl:part name="parameters" element="tns:NewsTemplateGetResponse" />
  </wsdl:message>
  <wsdl:portType name="NewsServicesSoap">
    <wsdl:operation name="NewsTemplateGet">
      <wsdl:input message="tns:NewsTemplateGetSoapIn" />
      <wsdl:output message="tns:NewsTemplateGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewsServicesSoap" type="tns:NewsServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewsTemplateGet">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/News/NewsTemplateGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NewsServicesSoap12" type="tns:NewsServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewsTemplateGet">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/News/NewsTemplateGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsServices">
    <wsdl:port name="NewsServicesSoap" binding="tns:NewsServicesSoap">
      <soap:address location="http://www.illinoisworknet.com/workNetItems/NewsServices.asmx" />
    </wsdl:port>
    <wsdl:port name="NewsServicesSoap12" binding="tns:NewsServicesSoap12">
      <soap12:address location="http://www.illinoisworknet.com/workNetItems/NewsServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>