Presentation/IOER.web/Service References/workNetSubscriptionReference/Subscriptions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.illinoisworknet.com/webServices/workNetServices/Items/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.illinoisworknet.com/webServices/workNetServices/Items/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.illinoisworknet.com/webServices/workNetServices/Items/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetDescriptionsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryCodeList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDescriptionsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDescriptionsByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubscribeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByCodeAndEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByCodeAndEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByCodeAndEmailResult" type="tns:AppItemAnnouncementSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AppItemAnnouncementSubscription">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseBusinessDataEntity">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Frequency" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsValidated" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseBusinessDataEntity">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseBusinessObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DEFAULT_GUID" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DefaultDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="HasChanged" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="RowId" type="s1:guid" />
              <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedById" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedBy" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="CreatedById" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CanEdit" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="CanView" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="TempProperty1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TempProperty2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="XmlProperties" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ChangeLog" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseBusinessObject" />
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult" type="tns:AppItemAnnouncementSubscription" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entity" type="tns:AppItemAnnouncementSubscription" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rowId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encryptedPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDescriptionsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetDescriptionsByCategory" />
  </wsdl:message>
  <wsdl:message name="GetDescriptionsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetDescriptionsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="SubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="SubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="GetByCodeAndEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetByCodeAndEmail" />
  </wsdl:message>
  <wsdl:message name="GetByCodeAndEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetByCodeAndEmailResponse" />
  </wsdl:message>
  <wsdl:message name="GetSoapIn">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="GetSoapOut">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="SubscriptionsSoap">
    <wsdl:operation name="GetDescriptionsByCategory">
      <wsdl:input message="tns:GetDescriptionsByCategorySoapIn" />
      <wsdl:output message="tns:GetDescriptionsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input message="tns:SubscribeSoapIn" />
      <wsdl:output message="tns:SubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByCodeAndEmail">
      <wsdl:input message="tns:GetByCodeAndEmailSoapIn" />
      <wsdl:output message="tns:GetByCodeAndEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input message="tns:GetSoapIn" />
      <wsdl:output message="tns:GetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SubscriptionsSoap" type="tns:SubscriptionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDescriptionsByCategory">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/GetDescriptionsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCodeAndEmail">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/GetByCodeAndEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SubscriptionsSoap12" type="tns:SubscriptionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDescriptionsByCategory">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/GetDescriptionsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByCodeAndEmail">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/GetByCodeAndEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://www.illinoisworknet.com/webServices/workNetServices/Items/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Subscriptions">
    <wsdl:port name="SubscriptionsSoap" binding="tns:SubscriptionsSoap">
      <soap:address location="http://www.illinoisworknet.com/workNetItems/Subscriptions.asmx" />
    </wsdl:port>
    <wsdl:port name="SubscriptionsSoap12" binding="tns:SubscriptionsSoap12">
      <soap12:address location="http://www.illinoisworknet.com/workNetItems/Subscriptions.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>