Presentation/IOER.web/Service References/CodeTableServiceReference/CodeTableService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CodeSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdColumn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TitleColumn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UseWarehouseTotalTitle" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodeSearchRequest" nillable="true" type="tns:CodeSearchRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="CodeSearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResultCount" type="xs:int" />
          <xs:element minOccurs="0" name="ResultList" nillable="true" type="tns:ArrayOfCodesDataContract" />
          <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CodeSearchResponse" nillable="true" type="tns:CodeSearchResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ErrorDataContract" />
      <xs:element minOccurs="0" name="MessageList" nillable="true" type="tns:ArrayOfErrorDataContract" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusEnumDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ErrorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDataContract" nillable="true" type="tns:ErrorDataContract" />
  <xs:complexType name="ArrayOfErrorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorDataContract" nillable="true" type="tns:ErrorDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorDataContract" nillable="true" type="tns:ArrayOfErrorDataContract" />
  <xs:simpleType name="StatusEnumDataContract">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEnumDataContract" nillable="true" type="tns:StatusEnumDataContract" />
  <xs:complexType name="ArrayOfCodesDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CodesDataContract" nillable="true" type="tns:CodesDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCodesDataContract" nillable="true" type="tns:ArrayOfCodesDataContract" />
  <xs:complexType name="CodesDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormattedTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarehouseTotal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodesDataContract" nillable="true" type="tns:CodesDataContract" />
</xs:schema>