Presentation/IOER.web/Service References/FaqServiceReference/FaqService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.illinoisworknet.com/Services/Faqs/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.illinoisworknet.com/Services/Faqs/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.illinoisworknet.com/Services/Faqs/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="FaqsByCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keywords" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FaqsByCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FaqsByCategoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Search">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pOrderBy" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pStartPageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pMaximumRows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdByEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defaultTargetPathways" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="questionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConfirmQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faq" type="tns:FaqItem" />
            <s:element minOccurs="0" maxOccurs="1" name="passcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FaqItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="FaqCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubcategoryId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceNbr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PathwayId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Hits" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedById" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedById" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateQuestionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FaqGet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="faqId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FaqGetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FaqGetResult" type="tns:FaqItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FaqsByCategorySoapIn">
    <wsdl:part name="parameters" element="tns:FaqsByCategory" />
  </wsdl:message>
  <wsdl:message name="FaqsByCategorySoapOut">
    <wsdl:part name="parameters" element="tns:FaqsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="SearchSoapIn">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="SearchSoapOut">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="PostQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:PostQuestion" />
  </wsdl:message>
  <wsdl:message name="PostQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:PostQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmQuestion" />
  </wsdl:message>
  <wsdl:message name="ConfirmQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="UpdateQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="FaqGetSoapIn">
    <wsdl:part name="parameters" element="tns:FaqGet" />
  </wsdl:message>
  <wsdl:message name="FaqGetSoapOut">
    <wsdl:part name="parameters" element="tns:FaqGetResponse" />
  </wsdl:message>
  <wsdl:portType name="FaqServiceSoap">
    <wsdl:operation name="FaqsByCategory">
      <wsdl:input message="tns:FaqsByCategorySoapIn" />
      <wsdl:output message="tns:FaqsByCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchSoapIn" />
      <wsdl:output message="tns:SearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PostQuestion">
      <wsdl:input message="tns:PostQuestionSoapIn" />
      <wsdl:output message="tns:PostQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmQuestion">
      <wsdl:input message="tns:ConfirmQuestionSoapIn" />
      <wsdl:output message="tns:ConfirmQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input message="tns:UpdateQuestionSoapIn" />
      <wsdl:output message="tns:UpdateQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FaqGet">
      <wsdl:input message="tns:FaqGetSoapIn" />
      <wsdl:output message="tns:FaqGetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FaqServiceSoap" type="tns:FaqServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FaqsByCategory">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/FaqsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostQuestion">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/PostQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmQuestion">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/ConfirmQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaqGet">
      <soap:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/FaqGet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FaqServiceSoap12" type="tns:FaqServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FaqsByCategory">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/FaqsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/Search" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostQuestion">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/PostQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmQuestion">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/ConfirmQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FaqGet">
      <soap12:operation soapAction="http://www.illinoisworknet.com/Services/Faqs/FaqGet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaqService">
    <wsdl:port name="FaqServiceSoap" binding="tns:FaqServiceSoap">
      <soap:address location="http://www.illinoisworknet.com/workNetItems/FaqService.asmx" />
    </wsdl:port>
    <wsdl:port name="FaqServiceSoap12" binding="tns:FaqServiceSoap12">
      <soap12:address location="http://www.illinoisworknet.com/workNetItems/FaqService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>