Presentation/IOER.web/Service References/ResourceServiceReference/ResourceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49270/ResourceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResourceGetResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:ResourceDataContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceGetResponse" nillable="true" type="tns:ResourceGetResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ErrorDataContract" />
      <xs:element minOccurs="0" name="MessageList" nillable="true" type="tns:ArrayOfErrorDataContract" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusEnumDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ErrorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorDataContract" nillable="true" type="tns:ErrorDataContract" />
  <xs:complexType name="ArrayOfErrorDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorDataContract" nillable="true" type="tns:ErrorDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorDataContract" nillable="true" type="tns:ArrayOfErrorDataContract" />
  <xs:simpleType name="StatusEnumDataContract">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Failure" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEnumDataContract" nillable="true" type="tns:StatusEnumDataContract" />
  <xs:complexType name="ResourceDataContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessRights" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccessRightsId" type="xs:int" />
          <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DislikeCount" type="xs:int" />
          <xs:element minOccurs="0" name="EducationLevels" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Imported" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LRDocId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LanguageList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LikeCount" type="xs:int" />
          <xs:element minOccurs="0" name="Modified" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
          <xs:element minOccurs="0" name="ResourceIntId" type="xs:int" />
          <xs:element minOccurs="0" name="ResourceTypesList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResourceVersionId" type="ser:guid" />
          <xs:element minOccurs="0" name="ResourceVersionIntId" type="xs:int" />
          <xs:element minOccurs="0" name="Rights" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Subjects" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Submitter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypicalLearningTime" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceDataContract" nillable="true" type="tns:ResourceDataContract" />
  <xs:complexType name="BaseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="LastUpdatedByName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseContract" nillable="true" type="tns:BaseContract" />
  <xs:complexType name="ResourceSearchRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Filter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OutputRelTables" type="xs:boolean" />
          <xs:element minOccurs="0" name="PageSize" type="xs:int" />
          <xs:element minOccurs="0" name="SortOrder" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartingPageNbr" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceSearchRequest" nillable="true" type="tns:ResourceSearchRequest" />
  <xs:complexType name="BaseRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseRequest" nillable="true" type="tns:BaseRequest" />
  <xs:complexType name="ResourceSearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceList" nillable="true" type="tns:ArrayOfResourceDataContract" />
          <xs:element minOccurs="0" name="ResultCount" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceSearchResponse" nillable="true" type="tns:ResourceSearchResponse" />
  <xs:complexType name="ArrayOfResourceDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceDataContract" nillable="true" type="tns:ResourceDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceDataContract" nillable="true" type="tns:ArrayOfResourceDataContract" />
  <xs:complexType name="LibraryResourceSearchResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ResourceList" nillable="true" type="tns:ArrayOfLibraryResourceDataContract" />
          <xs:element minOccurs="0" name="ResultCount" type="xs:int" />
          <xs:element minOccurs="0" name="TotalRows" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LibraryResourceSearchResponse" nillable="true" type="tns:LibraryResourceSearchResponse" />
  <xs:complexType name="ArrayOfLibraryResourceDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibraryResourceDataContract" nillable="true" type="tns:LibraryResourceDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibraryResourceDataContract" nillable="true" type="tns:ArrayOfLibraryResourceDataContract" />
  <xs:complexType name="LibraryResourceDataContract">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResourceDataContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="LibrarySection" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NbrComments" type="xs:int" />
          <xs:element minOccurs="0" name="NbrStandards" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LibraryResourceDataContract" nillable="true" type="tns:LibraryResourceDataContract" />
</xs:schema>