Presentation/IOER.web/Service References/ResourceServiceReference/ResourceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49270/ResourceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" />
  <xs:element name="ResourceGetTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceGetTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceGetTestResult" nillable="true" type="q1:ResourceGetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q2:ResourceSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceSearchResult" nillable="true" type="q3:ResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceFTSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q4:ResourceSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceFTSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceFTSearchResult" nillable="true" type="q5:ResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearchDemo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceSearchDemoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="ResourceSearchDemoResult" nillable="true" type="q6:ResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraryResSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q7:ResourceSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraryResSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="LibraryResSearchResult" nillable="true" type="q8:LibraryResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>