Presentation/IOER.web/Service References/LibraryServiceReference/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49270/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:ResourceSearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IllinoisPathways.DataContracts" minOccurs="0" name="SearchResult" nillable="true" type="q2:LibraryResourceSearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>